[submodule "targets/tivac-launchpad/tivac-core"]
	path = targets/tivac-launchpad/tivac-core
	url = https://github.com/mich181189/tivac-core.git
[submodule "lib/PN532"]
	path = lib/PN532
	url = https://github.com/londonhackspace/PN532.git
[submodule "lib/HttpClient"]
	path = lib/HttpClient
	url = https://github.com/zlalanne/HttpClient.git
[submodule "lib/littlefs"]
	path = lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
